<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DetailerCalculator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <DetailerCalculator.Properties.Settings>
            <setting name="Angle1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Angle2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Angle3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Angle4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentAngle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FixedDecimal" serializeAs="String">
                <value>0</value>
            </setting>
        </DetailerCalculator.Properties.Settings>
    </userSettings>
</configuration>